body {
margin:0px;
padding:none;
background-color:#fff;
font-family:Verdana;
color:#222;}

a {text-decoration:none;}
a:link {color:#229;}
a:visited {color:#228;}
a:hover {color:#22a;text-decoration:underline;}
a:active {color:#225;}

#nav a:link {color:#FFF;}
#nav a:visited {color:#FFF;}
#nav a:hover {color:#DDD;text-decoration:none;}
#nav a:active {color:#AAC;}
#nav a.current {color:#FFF;text-decoration:underline;font-weight:bolder;cursor:default;}

#companyname a {color:inherit;text-decoration:none;}

div.container {float:left;margin-left:5%;width:90%;min-width:900px;}
#footer {clear:both;width:100%;padding-top:15px;text-align:center;color:#999;font-size:0.6em;}
#companyname {float:left;margin:0px;padding:0px;font-style:normal;font-weight:normal;font-size:2.3em;text-shadow: #555 0px 0px 0.05em;color:#222222;}
#navcontainer {clear:both;width:100%;float:left;}
#nav {color:#fff;margin:0px 47px;padding:0.7em;background-color:black;font-style:normal;font-weight:normal;font-size:1.25em;text-shadow: #555 0px 0px 2px;}
#languages {right:5%;float:right;margin:0px;margin-right:47px;padding:3px;color:#777;font-size:0.8em;}
#logol {float:left;width:47px;height:159px;background-image:url(logol.png);}
#logor {float:left;width:102px;height:159px;background-image:url(logor.png);}
#slogancontainer {width:100%;margin-top:-3em;}
#slogan {float:right;margin:0px;padding:0px;padding-right:47px;font-size:1em;color:#444;font-style:italic;}
#spacer1 {vertical-align:bottom;width:0px;height:155px;}
#spacer2 {width:0px;height:2.7em;}
#contentholder {padding:15px 47px;}
#mapcontainer {float:right;width:60%;}
#maptext {width:30%;float:left;padding:10px;}
#imgcontact {float:right;width:300px;margin:0px;}